@import '~katex/dist/katex.min.css'

.katex {
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  font-family: "STIX Two Math", "Cambria Math", "MathJax_Main", serif;  // 使用数学字体
  font-size: 16px;  // 调整字体大小
  font-weight: 400;
}

.katex-display {
  margin: 1em 0;
  text-align: center;
  font-size: 1.1em;  // 增大显示公式的字体
  font-weight: 400;
  color: #2c3e50;  // 更深的颜色，便于区分
}

.katex * {
  font-family: "STIX Two Math", "Cambria Math", "MathJax_Main", serif;
  font-weight: 550;
}

.katex-inline {
  color: #d9534f; // 设置行内公式的颜色为红色
  font-size: 1.5em;
}