@import '~katex/dist/katex.min.css'
/* 调整公式字体 */
.katex {
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  font-family: 'Computer Modern', 'Times New Roman', serif;  // 使用数学字体
  font-size: 1.2em;  // 调整字体大小
  font-weight: 350;
}

/* 调整块公式对齐方式 */
.katex-display {
  margin: 1em 0;
  text-align: left;
  font-size: 1.0em;  // 增大显示公式的字体
  font-weight: 350;
  color: #2c3e50;  // 更深的颜色，便于区分
  line-height: 1.5;
}

.katex * {
  font-family: 'Computer Modern', 'Times New Roman', serif;
  font-weight: 500;
}

.katex-inline {
  color: #d9534f; // 设置行内公式的颜色为红色
  font-size: 1.5em;
}

.sidebar {
  overflow-y: auto;
  max-height: 90vh; // 限制高度，支持滚动
  position: -webkit-sticky; /* 对 Safari 支持 */
  position: sticky;
  top: 20px; /* 当滚动到距离页面顶部 20px 时，侧边栏开始固定 */
}

.sidebar .active {
  font-weight: bold;
  color: #42b983;
  transition: background-color 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

body.sidebar-hidden .sidebar {
  display: none;
}
body.sidebar-hidden .main {
  margin-left: 0;
}